extends layout

block content
	audio(loop autoplay)
		source(src='music/retrowave.mp3', type='audio/mpeg')

	h1 Onko Unicalla tänään makkaraa tarjolla?
	div(id='app' ng-app='oispaApp')
		div(id='controller' ng-controller='oispaController')
			p(ng-bind='makkaramix')
			div(id='wallpaper')
			div(id='footer')
				© <span ng-bind='thisyear'></span> ANTTI VAINIKKA SOME RIGHTS RESERVED
