extends layout

block content
	audio(loop autoplay)
		source(src='music/retrowave.wav', type='audio/wav')

	h1 Onko Unicalla tänään makkaraa tarjolla?
	div(ng-app='oispaApp')
		div(ng-controller='oispaController')
			p(ng-bind='makkaramix')
