extends layout

block content
	audio(loop autoplay)
		source(src='music/retrowave.mp3', type='audio/mpeg')

	h1 Onko tänään Unicalla makkaraa tarjolla?
	div(ng-app='oispaApp')
		div(ng-controller='oispaController')
			p(ng-bind='makkaramix')
