body {
  padding: 50px;
  font: 2em "Arial Bold Italic";
  text-align: center;
  background-color: black;
  background-image: url('/images/makkara.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  color: #00B7FF;
}
 h1{
 	color: #f765B8;
 }
 p{
 	color: #27fdf5;
 }