@keyframes example {
	0% {background-size: 110%;}
	100% {background-size: 100%;}
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	padding: 0px;
	margin: 0px;
	font: 2em "Arial Bold Italic";
	text-align: center;
	background-color: black;
	height: 100vh;
}

h1{
	color: #f765B8;
}
p{
	color: #27fdf5;
}
#footer{
	position: fixed;
	font-size: 20px;
	width: 100%;
	height: 30px;
	bottom: 0px;
	padding: 5px;
	margin: 0px;
	color: #f765B8;
	background-color: black;
}

#wallpaper{
	background-image: url('/images/makkara.png');
	background-repeat: no-repeat;
	height: 100%;
	animation: example;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	background-position: top;
	padding: 0px;
	margin: 0px;
}

#app {
	height: 100%;
}

#controller {
	height: 100%;
}